@tailwind base;
@tailwind components;
@tailwind utilities;



html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.homepage_bg{
    background-image: url('./assets/homedata/photo_2025-08-05_14-40-47.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
